<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    
	     <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
	    
	    
	    <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
	    <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
	    
	    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">19</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		
		<!-- Database Scheme Auto Update -->
        <property name="hbm2ddl.auto">update</property>   
        
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<!-- <property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property> -->
		<!-- <property name="hibernate.c3p0.idle_test_period">14400</property>
		<property name="hibernate.c3p0.timeout">25200</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property> -->
		
	    
	    
	    <mapping class="hisaab.services.user.modal.UserMaster"/>
	    <mapping class="hisaab.services.user.modal.UserProfile"/>
	    <mapping class="hisaab.services.user.modal.UserRequest"/>
	    <mapping class="hisaab.services.user.images.modal.UserImage"/>
	    <mapping class="hisaab.services.transaction.modal.TransactionSql"/>
	    <mapping class="hisaab.services.user.modal.PrivateUser"/>
	    <mapping class="hisaab.services.staff.modal.StaffUserRequest"/>
	    <mapping class="hisaab.services.staff.modal.StaffUser"/>
	    <mapping class="hisaab.services.staff.modal.StaffProfile"/>
	    <mapping class="hisaab.services.sms.modal.SmsTable"/>
	    <mapping class="hisaab.services.transaction.request.modal.ModificationRequest"/>
	    <mapping class="hisaab.services.transaction.staff_transaction.modal.DeletedStaffTransaction"/> 
	    <mapping class="hisaab.services.staff.modal.UserStaffMapping"/>
	    <mapping class="hisaab.services.transaction.openingbalance.modal.OpeningBalRequest"/>
	    <mapping class="hisaab.services.transaction.clear_transaction.modal.ClearTransactionRequest"/>
	    <mapping class="hisaab.services.appVersion.modal.AppVersion"/>
		<mapping class="hisaab.services.sms.modal.SmsCountTable"/>
	    
	    		
	</session-factory>

</hibernate-configuration>